
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-top: auto;
}

footer p {
  margin: auto;
}
