
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #e9d8d8e1;
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-top: auto;
}

footer p {
  margin: auto;
  box-sizing: border-box;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

nav {
  display: flex;
  gap: 30px;
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #f00;
  text-decoration: underline;
}
